nav {
  padding: 0 1rem;
}

.content {
  min-height: calc(100vh - 70px - 64px);
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
label {
  margin-right: 1rem;
}
